<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Robotic Applicaion Automated Tess">
	<listeners>
		<listener class-name="com.Analyzer.Transformations"></listener>
		<listener class-name="com.Analyzer.AllureListeners"></listener>

	</listeners>

	<test name="Home Page Test" parallel="classes" thread-count="5">
		<classes>
			<class name="com.Tests.HomePageTest">
				<methods>
					<include name="pageTitleTest" />
					<include name="homePageText" />
					<include name="homeButtonTest" />
					<include name="orderButtonTest" />
					<include name="loginButtonTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Login Page Test" parallel="classes" thread-count="3">
		<classes>
			<class name="com.Tests.LoginPageTest">
				<methods>
					<include name="pageTitleTest" />
					<include name="loginTest" />
					<include name="displayNameTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Desh Board Home Test" parallel="classes"
		thread-count="3">
		<classes>
			<class name="com.Tests.DeshBoardHomeTest">
				<methods>
					<include name="pageTitleTest" />
					<include name="salseDataTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Desh Board Order Test" parallel="classes"
		thread-count="7">
		<classes>
			<class name="com.Tests.DeshBoardOrderTest">
				<methods>
					<include name="pageTitleTest" />
					<include name="orderManueTest" />
					<include name="heasdSelectionTest" />
					<include name="bodySelectionTest" />
					<include name="legsSelectionTest" />
					<include name="shippingAddress" />
					<include name="displayReceipt" />
				</methods>
			</class>
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->


  	 